<div class="container">
    <div class="row">
        <h1 class="center">Eat-Da-Burger</h1>
    </div>
    <div class="row">
        <div class="col l5 s12">
            <div class="card horizontal">
                <div class="card-stacked">
                    <h3 class="center">Available Burgers</h3>
                    <div class="divider"></div>
                    <div class="card-content">
                        <div class="col s12 buttons">
                            {{#each burgers}}
                            {{#unless this.devoured}}
                            <form action="/burgers/{{this.id}}" method="POST">
                                <button class="btn waves-effect waves-light uneaten col s12" type="submit" name="action">{{this.burger_name}}
                                    <i class="fas fa-utensils"></i>
                                </button>
                            </form>
                            {{/unless}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-l2 col l5 s12">
            <div class="card horizontal">
                <div class="card-stacked">
                    <h3 class="center">Devoured Burgers</h3>
                    <div class="divider"></div>
                    <div class="card-content">
                        <div class="col s12 buttons">
                            {{#each burgers}}
                            {{#if this.devoured}}
                            <li class="devoured">
                                {{this.burger_name}}
                            </li>
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>