<div class="container">
    <div class="row">
        <h1 class="center">Eat-Da-Burger</h1>
    </div>
    <div class="row">
        <div class="col l5 s12">
            <div class="card horizontal">
                <div class="card-stacked">
                    <h3 class="center">Available Burgers</h3>
                    <div class="divider"></div>
                    <div class="card-content">
                        <div class="col s12 buttons">
                            {{#each burgers}}
                            {{#unless this.devoured}}
                            <form action="/burgers/{{this.id}}" method="POST">
                                <button class="btn waves-effect waves-light uneaten col s12 z-depth-5 hoverable tooltipped"
                                    type="submit" name="action">{{this.burger_name}}
                                    <i class="fas fa-utensils right"></i>
                                </button>
                            </form>
                            {{/unless}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-l2 col l5 s12">
            <div class="card horizontal">
                <div class="card-stacked">
                    <h3 class="center">Devoured Burgers</h3>
                    <div class="divider"></div>
                    <div class="card-content">
                        <div class="col s12 buttons">
                            {{#each burgers}}
                            {{#if this.devoured}}
                            {{#unless this.deleted}}
                            <form action="/delete/{{this.id}}" method="POST">
                                <button class="btn waves-effect waves-light devoured col s12 z-depth-5 hoverable tooltipped2"
                                    type="submit" name="action">{{this.burger_name}}
                                    <i class="fas fa-trash right"></i>
                                </button>
                            </form>
                            {{/unless}}
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card horizontal col l6 offset-l3 s12">
            <div class="card-stacked">
                <h3 class="center">
                    Add a Burger
                </h3>
                <div class="divider"></div>
                <div class="card-content">
                    <form action="/burgers/create" method="POST">
                        <div class="input-field col s12">
                            <input placeholder="Bacon on bacon burger" type="text" class="addBurger" name="addBurger">
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light burgButton col offset-s3 s6" type="submit" name="action">Create!
                                <i class="fas fa-check"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>